body {
    /* display: inline-block; */
}

#game {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    height: 450px;
    width: 456px;
    border: 5px solid #ff0299;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}

.column {

    /* display: flex; */
    border: 1px solid #ff0299;
    /* align-items: flex-start;
    align-content: center;
    flex-wrap: wrap; */
}

.box {
    border: 1px solid #ff0299;
    /* width: 148px;
    height: 148px; */
}

#box-1 {
    background-color: red;
}
#box-3 {
    background-color: blue;
}

#reset {
    display: flex;
    margin: 10px auto;
    padding: 10px 50px 10px 50px;
    background-color: #c85d72;
    border-radius: 5px;
    justify-content: center;
}
/* JORDANS///// */

/* #grid {
    border: 5px solid black;
    width: 605px;
    height: 605px;
    margin-bottom: 20px;
} */


/* .box {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: azure;
    margin: 0 auto;
    padding: none;
}

.row {
    display: flex;
} */