body {
    background-color: rgba(120, 70, 28, 0.5);
}
h1 {
    display: flex;
    margin: 0 auto;
    justify-content: center;

}
#game {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    height: 450px;
    width: 456px;
    border: 5px solid #ff0299;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    background-color: whitesmoke;
}

#stats {
    display: grid;
    height: 20px;
    width: 600px;
    margin: 0 auto;
    grid-template: 20px/repeat(6, 1fr);
    border: 1px solid #ff0299;
}

#messages {
    display: flex;
    height: 100px;
    width: 800px;
    margin: 0 auto;
}

.column {

    /* display: flex; */
    border: 1px solid #ff0299;
    /* align-items: flex-start;
    align-content: center;
    flex-wrap: wrap; */
}

.box {
    border: 1px solid #ff0299;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;

    /* width: 148px;
    height: 148px; */
}

#top-buttons {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 400px;
    margin: 10px auto;
    padding: 10px 50px 10px 50px;
}


#reset {
    display: flex;
    margin: 10px auto;
    padding: 10px 50px 10px 50px;
    background-color: #c85d72;
    border-radius: 5px;
    justify-content: center;
}

.played {
    pointer-events: none;
}

#result {
    border: 3px solid purple;
}

#new-game, #change-first {
    background-color: green;
    background-color: green;
    /* display: flex; */
    justify-content: center;
}

#p1-indicator {
    font-weight: bolder;
}
/* JORDANS///// */

/* #grid {
    border: 5px solid black;
    width: 605px;
    height: 605px;
    margin-bottom: 20px;
} */


/* .box {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: azure;
    margin: 0 auto;
    padding: none;
}

.row {
    display: flex;
} */